<h1>{{name}}</h1>
<h4>{{desc}}</h4>
<p>{{info}}</p>

<img src="/images/{{pic}}" alt="vsco_girls">
<br>
{{!-- when working with express and node, images and videos need to still have the img src tag! remember this--}}

<button onclick="goBack()">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>