<div class="main">
    <center>
        <h1>{{title}}</h1>
        <ul>
            <li><a href="/filters">VSCO Girl Filters</a></li>
            <li><a href="/photos">VSCO Girl Checklist</a></li>
            <li><a href="/aspirations">VSCO Girl Aspirations</a></li>
        </ul>
    </center>
</div>