<div class="main">
    <center>
        <h1>{{title}}</h1>
        <ul>
            <li><a href="/filters" class="nav">VSCO Girl Filters</a></li>
            <li><a href="/photos" class="nav">VSCO Girl Checklist</a></li>
            <li><a href="/aspirations" class="nav">VSCO Girl Aspirations</a></li>
        </ul>
        <p>Follow Our Instagram page at <a href="https://www.instagram.com/" id="mainLink">VSCO Girls For Life</a> to see all of our content!</p>
    </center>
</div>