@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
body {
  padding: 50px;
  font-family: 'Karla', sans-serif;
  background-color: beige;
  text-align: center;
}

a {
  color: black;
  font-size: 2em;
  text-decoration: none;
}

a:hover {
  background-color: #251e42;
  color: purple;
  text-decoration: none;
}

img {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0.5em;
  margin: 0;
}

#mainLink {
  font-size: 1em;
}

